################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
bin
obj
*.user
.DS_Store
.DS_Store
.idea
